@import "./LightTheme.css";
@import "./DarkTheme.css";
@import "./header.css";
@import "./homepage.css";
@import "./modal.css";
@import "./footer.css";

:root {
  --background: white;
  --text-primary: white;
  --text-secondary: royalblue;
  --accent: yellowgreen;
}

html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.app {
  width: 100%;
  height: 100vh;
  margin: 0%;
  padding: 0%;
  background-color: var(--background);
}

.home-button {
  min-width: max-content;
  width: 10%;
  height: 40px;
  margin: auto;
}
