.d-none {
  display: none;
}

.button {
  width: max-content;
  min-width: 150px;
  min-height: min-content;
  height: max-content;
  margin: 5px 0;
  padding: 15px;
  font-size: medium;
  border: 2px solid royalblue;
  border-radius: 20px;
  background-color: #fff9d2;
}

.button:hover {
  transform: scale(1.05);
}