.admin-panel-container {
	margin: auto;
	width: 80%;
}

#card {
	background-color: #f0ffff77;
	margin-bottom: 1%;
	padding: 1% 0;
}

#card-title {
	text-align: center;
	margin: 0;
}

#card-content {
	font-size: larger;
	text-align: left;
}

/****************************************************************
*********
*********
/* *** BUTTON ***
*********
*********
****************************************************************/
.panel-btn {
	width: min-content;
	margin: 5px 0;
	padding: 15px;
	font-size: medium;
	border: 2px solid royalblue;
	border-radius: 20px;
	transition: 0.5s;
}

.del-card-btn {
	background-color: #ff9e9e;
}

.del-card-btn:hover {
	background-color: #ff6161;
}

/****************************************************************
*********
*********
/* *** CREATE ***
*********
*********
****************************************************************/
#create-card-form {
	width: 80%;
	height: auto;
}

.create-card-btn {
	background-color: #8ba8ff;
}

.create-card-btn:hover {
	background-color: #4b71e1;
}

/****************************************************************
*********
*********
/* *** EDIT ***
*********
*********
****************************************************************/
#edit-card-form {
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.edit-card-btn {
	background-color: #ffebaa;
}

.edit-card-btn:hover {
	background-color: #ffd23e;
}