.d-none {
  display: none;
}

.button {
  min-width: 230px;
  width: auto;
  height: 70px;
  margin: 0.18em;
  padding: 15px;
  font-size: medium;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #9a6dd193;
  color: rgb(36, 36, 36);

  font-size: larger;
}

.button:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, .75);
  color: #000000b0;
  border-radius: 5px;
  transition: .1s;
}

.close {
  border: #bdbdbd00;
  background: #c1b4d293;
  font-size: larger;
  color: black;
}

.close:hover {
  background: #ff0000b6;
}