.d-none {
  display: none;
}

.button {
  width: max-content;
  min-width: 125px;
  min-height: min-content;
  height: max-content;
  margin: 0.18em;
  padding: 15px;
  font-size: medium;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #572792;
  color: #fff;
}

.button:hover {
  transform: scale(1.05);
  background-color: #9a6dd1b7;
  color: #000000b0;
  border-radius: 15px;
}