.footer-wrapper {
  display: flex;
  position: fixed;
  bottom: 0;
  margin: auto;
  width: 100%;
  text-align: center;
}

.footer {
  width: 25%;
  margin: auto;
  text-align: center;
  color: white;
}
